.header-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
  color: var(--dark-green);
}

.logo {
  font-weight: 900;
  font-size: 3rem;
  color: var(--tomato);
  cursor: pointer;
  margin-left: 4rem;
}

.header-elements {
  display: flex;
  gap: 3rem;
  margin-right: 4rem;
}

.create-post,
.logout {
  text-decoration: none;
  cursor: pointer;
  color: var(--dark-green);
  align-content: center;
}

.create-post {
  background-color: var(--dark-green);
  color: var(--isabelline);
  padding: 0.8rem;
  border-radius: 0.6rem;
}

.logout:hover {
  border-bottom: 0.2rem solid var(--tomato);
  transition: 100ms;
}

.blog-container {
  display: flex;
  justify-content: space-around;
  min-width: 100vw;
}

.blog-box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 0;
  margin: 0 6rem;
  border-bottom: 0.1rem solid var(--platinum);
  width: 40rem;
}

.blog-container .username {
  font-size: 0.85rem;
  color: var(--umber);
  margin-bottom: 0;
}

.blog-container .title {
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
  color: var(--dark-green);
}

.blog-container .blog-description {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--dark-green);
  opacity: 0.7;
  /* margin-bottom: 1.5rem; */
}

.blog-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #001f1e50;
}

.blog-footer .edit {
  cursor: pointer;
  margin-left: 2rem;
  transition: color 0.2s;
}

.blog-footer .edit:hover {
  color: var(--tomato);
}

.history {
  opacity: 1 !important;
  text-decoration: underline;
  cursor: pointer;
}

.history:hover {
  color: var(--tomato);
  transition: color 0.2s;
}

.flex-group-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-group-1 .date {
  padding-right: 2rem;
}

.flex-group-1 .views {
  display: flex;
  align-items: center;
}

.flex-group-2 {
  display: flex;

  justify-content: space-between;
}

.tag-selector {
  display: flex;
  align-items: center;
  margin: 1rem 20rem;
  margin-top: 5rem;
  gap: 1rem;
}

.dropdown-homepage {
  position: relative;
  width: 8rem;
}

.dropdown-button-homepage {
  width: 8rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
  background: var(--dark-green);
  border: 1px solid var(--platinum);
  border-radius: 0.4rem;
}

.dropdown-menu-homepage {
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 8rem;
  max-height: 10rem;
  overflow-y: auto;
  z-index: 100;
  border: 1px solid var(--platinum);
  background: var(--isabelline);
  border-radius: 0.4rem;
  font-size: 0.8rem;
}

.dropdown-item-homepage {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.dropdown-item-homepage:hover {
  background: var(--platinum);
}

.dropdown-item-homepage.selected {
  background: var(--umber);
  color: var(--isabelline);
}

.selected-tags-homepage {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 0.5rem;
}

.selected-tag-homepage {
  padding: 0.5rem 0.75rem;
  background: var(--umber);
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  flex-shrink: 0; /* Prevent tags from shrinking when there are many */
  color: var(--isabelline);
}

.no-blog {
  text-align: center;
}

@media (max-width: 700px) {
  .logo {
    margin-left: 0;
    font-size: 2.5rem;
  }

  .header-elements {
    margin-right: 0;
    gap: 1.5rem;
  }

  .tag-selector {
    margin: 1rem 2rem;
    margin-top: 5rem;
  }
}
