.editor-style {
    background-color: var(--platinum);
    border-radius: 0.4rem;
    min-height: 20rem;
    margin: 2rem 1rem;
    margin-top: 1rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    color: var(--dark-green);
}

.menu-bar {
    margin: 2rem 1rem;
    margin-bottom: 0;
    display: flex;
    max-width: 400px;
}

.toggle-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    margin: 0 0.2rem;
    transition: background-color 0.2s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--platinum);
    color: var(--dark-green);
    opacity: 0.6;
    max-height: 2rem;
    max-width: 2rem;
}

.toggle-button:hover {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.toggle-button.is-active {
    background-color: var(--dark-green);
    color: var(--isabelline);
    transition: background-color 0.3s ease;
    opacity: 1;
}


.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}